.App {
  text-align: center;
  /* background-color: royalblue; */
}

/* ****** Below this comment is the landing page css****** */
.landing {
  background-color: rgb(51, 62, 73);
  display: flex;
  flex-direction: column;
  height: 47rem;
  padding-bottom: 4rem;
  font-size: 20px;
}

.landing-img {
  background-image: url(./images/utah\ mountains\ and\ city.jpg);
  background-size: 450px;
  background-repeat: no-repeat;
  width: 100%;
  height: 49rem;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.landing-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(226, 226, 226, 0.5);
}

#intro-link {
  text-decoration: none;
  padding: 1rem;
  font-weight: 700;
  font-size: 30px;
  color: aliceblue;
}

#name {
  font-size: 55px;
}
/* ****** Above this comment is the landing page css****** */

/* ****** Below this comment in the header and nav css ****** */
.header {
  background-color: cadetblue;
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
}

.navigation {
  background-color: chartreuse;
  display: flex;
  justify-content: space-evenly;
  /* justify-content: flex-end; */
  align-self: flex-end;
  position: absolute;
  top: 12rem;
  width: 100%;
}

#link {
  /* color: red; */
  text-decoration: none;
  padding: 0.5rem;
}

/* ****** Above this comment in the header and nav css ****** */

/* ****** Below this comment in the homepage css ****** */

.homepage {
  background-color: tan;
  height: 51rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-text {
  padding: 1rem;
  padding-top: 10rem;
  font-size: 21px;
}

#site-info {
  font-style: italic;
  font-size: 15px;
}

/* ****** Above this comment in the homepage css ****** */

/* ****** Below this comment in the about css ****** */

.about {
  background-color: burlywood;
  height: 50rem;
  padding-top: 15rem;
}
/* ****** Above this comment in the homepage css ****** */

/* ****** Below this comment in the contact css ****** */

.contact {
  background-color: chocolate;
  padding-top: 15rem;
  height: 36rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-info {
  padding: 1.2rem;
}

#contact-title {
  padding-bottom: 3rem;
}

#contact-tagline {
  font-style: italic;
  font-weight: 300;
}

.contact-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
